doctype html
html(lang='en' ng-app='rufAngular')


  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    )

    title RUF sensors


  body(ng-controller='angCtrl')
    div.container
      div.jumbotron
        h1 #{database} database
        ul.nav.nav-tabs
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") Choose Sensor
              div.dropdown-menu
                each sensor in sensors
                  a.dropdown-item(ng-href='132.239.205.188:8080/api/retrieveTable/sensors-temp1') #{sensor}
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") Change Database
              div.dropdown-menu
                a.dropdown-item(href="#") Sensors
                a.dropdown-item(href="#") Logs
                a.dropdown-item(href="#") Settings
        br
        h1 Data from #{table}


//      #angDataDisplay
//        ul
//          li(ng-repeat="item in data.readings") result: {{ item.id }} - {{ item.datetime }} - {{ item.reading }} 
      div.container
//        div(ng-view)
        block content

    script(
      src='../lib/angular.min.js'
    )
    script(
      src='../lib/angular-route.min.js.map'
    )
    script(
      src='../lib/angular-route.min.js'
    )
    script(
      src='../rufAngular.js'
    )
//    script(
//      src='../home/home.controller.js'
//    )
    script(
      src='../lib/jquery-3.3.1.slim.min.js'
    )
    script(
      src='../lib/popper.min.js'
    )
    script(
      src='../lib/bootstrap.min.js'
    )
