extends layout

block content
  .row.page-header
    .col-lg-12
      h1= title
      p Welcome to #{title}
        each tank in tanks
          p
            b= tank.tankName
          table
            tr
              td
                .wlvl Water Level
                  each data in tank.wlvlData
                    ul
                      li
                        .data= data.reading
                        .timestamp= data.timestamp 
               
              td
                .wTemp Water Temperature 
                  each data in tank.wtempData
                    ul
                      li
                        .data= data.reading
                        .timestamp= data.timestamp
              td
                .ph pH
                  each data in tank.phData
                    ul
                      li
                        .data= data.reading
                        .timestamp= data.timestamp
              td
                .ec EC 
                  each data in tank.ecData
                    ul
                      li
                        .data= data.reading
                        .timestamp= data.timestamp
              td
                .do DO 
                  each data in tank.doData
                    ul
                      li
                        .data= data.reading
                        .timestamp= data.timestamp
