extends layout

block content
  .row.page-header
    .col-lg-12
      h1= title
      p Welcome to #{title}
        ul.list-group 
          each log in logs
            li.list-group-item Time: #{log.logTime} | Type: #{log.logType} | Log: #{log.logBody}
