extends layout

block content
  .row.page-header
    .col-lg-12
      h1= title
      p Welcome to #{title}
        each log in logs
          ul
            li
              .type= log.logType
              .time= log.logTime
              .body= log.logBody
