extends layout
include _includes/sharedHTMLfunctions 

block content
  .row.page-header
    .col-lg-12
        h1= title
        each tank in tanks
          table
            tr
              td  
                b Tank Name: #{tank.tankName}
            tr
              td(valign="top") 
                b Water Level:
                ul.list-group
                  each data in tank.wlvlData
                    li.list-group-item
                      p
                        .reading Reading: #{data.reading} &nbsp; 
                      p
                        .time Time: &nbsp;
                          +formatDate(data.timestamp)
              td(valign="top") 
                b Water Temperature:
                ul.list-group
                  each data in tank.wtempData
                    li.list-group-item
                      p
                        .reading Reading: #{data.reading} &nbsp; 
                      p
                        .time Time: &nbsp;
                          +formatDate(data.timestamp)
              td(valign="top")
                b pH: 
                ul.list-group
                  each data in tank.phData
                    li.list-group-item
                      p
                        .reading Reading: #{data.reading} &nbsp; 
                      p
                        .time Time: &nbsp;
                          +formatDate(data.timestamp)
              td(valign="top")
                b Electrical Conductivity:
                ul.list-group
                  each data in tank.ecData
                    li.list-group-item
                      p
                        .reading Reading: #{data.reading} &nbsp; 
                      p
                        .time Time: &nbsp;
                          +formatDate(data.timestamp)
              td(valign="top")
                b Dissolved Oxygen: 
                ul.list-group
                  each data in tank.doData
                    li.list-group-item
                      p
                        .reading Reading: #{data.reading} &nbsp; 
                      p
                        .time Time: &nbsp;
                          +formatDate(data.timestamp)
            tr
              td
                br
